.grid-container {
    display: block;
    padding: 10px;
    margin: 5em 0;

    a{
        color: #FFFFFF;
        position: relative;
        bottom: -42%;
        font-size: 1em;
        letter-spacing: .1em;
        &:hover{
            color: #06a5ff;
        }
    }
    > div {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: auto auto auto;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        margin: 1em 0;
        font-size: 1.5em;

        .fav-icon{grid-row-start: 1;  grid-row-end: 2; grid-column-start: 4; grid-column-end: 5}

        .art-title{grid-row-start: 10;grid-row-end: 20;grid-column-start: 1;grid-column-end: 3;}
    }

}

@media only screen and (min-width: 960px)  {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: .4em;
        margin: 1em 0;

        > div{
            margin: 0;
        }

        .item1 {  grid-row-start: 1;  grid-row-end: 8; grid-column-start: 1; grid-column-end: 3}
        .item2 {  grid-row-start: 1;  grid-row-end: 3; grid-column-start: 3; grid-column-end: 5}
        .item3 {  grid-row-start: 3;  grid-row-end: 8; grid-column-start: 3;grid-column-end: 5}
        .item4 {  grid-row-start: 1;  grid-row-end: 2; grid-column-start: 5; grid-column-end: 8}
        .item5 {  grid-row-start: 2;  grid-row-end: 8; grid-column-start: 5; grid-column-end: 7}
        .item6 {  grid-row-start: 2;  grid-row-end: 4; grid-column-start: 7;}
        .item7 {  grid-row-start: 4;  grid-row-end: 8; grid-column-start: 7}
        .item8 {  grid-row-start: 8;  grid-row-end: 12; grid-column-start: 1;grid-column-end: 5}
        .item11 {  grid-row-start: 12;  grid-row-end: 16; grid-column-start: 1;grid-column-end: 3}
        .item10 {  grid-row-start: 12;  grid-row-end: 16; grid-column-start: 3;grid-column-end: 5}
        .item9 {  grid-row-start: 8;  grid-row-end: 16; grid-column-start: 5;grid-column-end: 8}
    }
}
