#categories {
    width: 100%;
    padding-bottom: 100px;
}

//  section div {
//     text-align: center;
// }

 #category {
    height: 250px;
    width: 46%;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
}

 .image:hover > .overlay {
    min-width:46%;
    height:100%;
    position: relative;
    background-color:#000;
    opacity:0.4;
    border-radius:30px;
}

 #category_link {
    padding:18%;
    text-align: center;
}

 #category div a {
    font-family: 'Poppins', cursive;
    color: #ffffff;
    font-size: 25px;
}

 #category div a:hover {
    color:#06A5FF;
}
