#featuredarts {
  width: 100%;

}

#feature_list{
  padding:1%;
  background: #E5E5E5 !important;
}

#featured_arts_header h5 {
  font-family: 'Fredericka the Great', cursive;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 2.0em;
  color: #000000;
  text-align: center;
}

#featured_arts_header hr {
  border: 2px ridge #000000;
  width: 10em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.cards_active{
  height: 20.5em;
  width: 40%;
  margin-top: 1.8em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0.8em 1.2em 1.2em rgba(0, 0, 0, 0.25);
}

.cards_inactive{
  height: 18em;
  width: 27%;
  margin-top: 1.8em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0.8em 1.2em 1.2em rgba(0, 0, 0, 0.25);
}

.feature_button {
  background: #06A5FF;
  color:#ffffff;
  border: 0;
  padding-right: 0.8em;
  padding-left: 0.8em;
  cursor: pointer;
  height: 1.8em;
  width: 8em;
  border-radius: 0.2em;
  font-family: 'Poppins', cursive;
  background: #06A5FF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.feature_button_inactive {
  background: #06A5FF;
  color:#ffffff;
  border: 0;
  padding-right: 0.8em;
  padding-left: 0.8em;
  cursor: pointer;
  height: 1.7em;
  width: 6em;
  border-radius: 0.2em;
  font-family: 'Poppins', cursive;
  background: #06A5FF;
  box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
}

.feature_button_inactive:hover {
  background-color:#ffffff;
    color:#06A5FF;
  }

.feature_button:hover {
background-color:#ffffff;
  color:#06A5FF;
}

#feature_button_div {
  padding-top: 35%;
  text-align: center;
}

#feature_button_div h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.2em;
  color: #FFFFFF;
}

.slide-arrow {
  color: #06A5FF;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  margin-right: 1.8em;
  text-align: center;
  // float: left;
}

#carousel_control {
  text-align: center;
  padding: 1%;
}

.cards_active {
  margin-top: 1.8em;
  font-size: 1.4em;
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:-1;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:-1;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:-1;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:-1;
  }
  to {
      opacity: 1;
  }
}
