footer {
    background-color: #000000;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    color: #ffffff;
    list-style: none;
    padding: 15px 0 0;
};

footer div {
    ul, p {
        margin-bottom: 0
    }
    li, p {
        display: inline-block;
        padding: 10px;
        font-size: 0.9em;
    };
}
