$primary-color: #171717;
$background-color: #EEEEEE;
$default-color: #06A5FF;

$authBackground: url(../images/background1.jpeg);

$default-font: 'Gloria Hallelujah', cursive;
$title-font: 'Fredericka the Great', cursive;;
$text-font: 'Righteous', cursive;
$design-font: 'Pacifico', cursive;
$regular-font: 'Poppins';

$default-font-size: 18px;
$form-input-font-size: 14px;
$small-font-size: 13px;

$card-width: 350px;
$card-input-width: calc(350px - 10px);

#forgotPassword {
  width: 100%;
  height: 100vh;
  background-image: $authBackground;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 200px;
}

#forgotPassword .title {
  background-color: rgba(255, 255, 255, 0.26);
  color: #ffffff;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

#forgotPassword .title h2 {
  font-family: $regular-font;
  font-size: $default-font-size;
  margin: 0;
}

.sideText {
  width: 400px;
  position: absolute;
  top: 20%;
  left: 50px;
  color: #ffffff;
  font-family: $title-font;
}

.sideText h1 {
  font-size: 40px;
}

.titleHr {
  width: 50px;
  // margin-inline-start: 0;
  border: 2px solid #ffffff;
  transition: 0.5s all;
}

.forgot-password:hover .titleHr {
  width: 100px;
  border: 2px solid $default-color;
}

#forgotPassword .subtitle p {
  font-family: $regular-font;
  font-size: $small-font-size;
  color: #333333;
}

.forgot-password {
  background: rgba(255, 255, 255, 0.26);
  width: $card-width;
  height: 250px;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.form-container, #forgotPassword .subtitle {
  padding: 10px;
}

.password-reset {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.26);
  width: $card-width;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.clear {
  clear: both;
}

/** Form **/

.form-input {
  background-color: transparent;
  height: 30px;
  padding: 5px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: $form-input-font-size;
  font-family: $regular-font;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 15px;
  transition: 0.3s all;
}

.form-input::placeholder {
  color: $background-color;
  font-family: $regular-font;
}

.form-input:focus {
  border-bottom: 1px solid $default-color;
}

.form-button {
  background: $default-color;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #ffffff;
  border: 1px solid transparent;
  margin-bottom: 15px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $regular-font;
  transition: 0.3s all;
}

.form-button:hover {
  background-color: #ffffff;
  color: $default-color;
  border: 1px solid $default-color;
}

.alternative-links {
  font-size: $small-font-size;
  text-align: center;
  line-height: 25px;
  margin-top: 15px;
  color: #ffffff;
}

.alternative-links a:hover {
  color: #ffffff;
}

.modal {
  margin-top: 10%;
}

.modal-content {
  background-color: #333333;
  height: auto;
}

.modal-body {
  height: 60px;
}

.modal-title, .modal .close {
  color: #ffffff;
}

.modal .form-input {
  border-bottom: none;
}

