$styled-font: 'Gloria Hallelujah', cursive;

input {
    height: 45px;
    width: 90%;
    padding-left: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;

    nav &::placeholder {
        font-family: $styled-font;
        letter-spacing: .1em;
    };
};

input[type=checkbox], input[type=radio] {
    height: unset;
    box-shadow: none;
    border-radius: 0;
}

#search {
    width: 60%;
}
