
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 230px;
    position: fixed;
    left: 0;
    top: 70px;
    height: 100vh;
    padding-left: 1em;
    margin-top: 0.25em;
    color: black;
    transition: all 0.3s;
    z-index: -1;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.3em;
    display: block;
    cursor: pointer;
}
#sidebar ul li>a,
a[aria-expanded="true"]>.side{
    border-left: solid 0.25em rgb(192, 192, 192);
    margin-bottom: 0.4em;
    font-family: poppins, 'cursive';
}

#sidebar ul li.active>a,
a[aria-expanded="true"]>.side {
    color: #06A5FF;
    border-left: solid 0.25em #06A5FF;
   
}

a[data-toggle="collapse"] {
    position: relative;
}
.toggle-bar{
    background: rgb(250, 249, 249);
    padding: 1em;
    margin-top: 1.8em;
    margin-left: 10em;
    min-height: 100vh;

}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}