@import url('https://fonts.googleapis.com/css?family=Pacifico|Gloria+Hallelujah|Poppins');
$font-stack:    Helvetica, sans-serif;
$primary-color: #171717;

* {
  margin: 0;
  padding: 0;
};

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px){
  .container {
      max-width: 1400px;
}
}

input, textarea, button {
  outline: none;
};
